@{
    ViewData["Title"] = "Home Page";
}


<style>
    ¨.TimeChecker 
    {
        width: 100%;
    }



    body {
        background-color: moccasin;
    }

    h1{
        font-family: Forte;
        font-size: 100px;
        color: midnightblue;
        text-shadow: 4px 4px 4px black;
    }
</style>


<header class="text-center">
    <h1 class="display-4">Welcome </h1>
</header>

<body>

    <div class="text-center">
        <img class="rounded" src="TimeChecker.jpg" alt="could not be loaded">
    </div>
    <audio src="~/MusikTimeChecker.mp3" autoplay loop="loop"></audio>

</body>

