@model TimeChecker.DAL.Models.Timeentry

@{

    ViewData["Title"] = "Timeentry";
}

<!--
   Formular um ein neuen Timeenry zu erstellen
-->
<div class="card">
    <div class="card-header">
        <h5>Create or Edit Timeentry </h5>
    </div>

    <form asp-action="CreateEditTimeentry" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col form-group">
                    <input hidden asp-for="ID" placeholder="ID" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="Type" placeholder="Type" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="DateTime" placeholder="DateTime" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="Comment" placeholder="Comment" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="User" placeholder="User" class="form-control" />
                </div>
            </div>

        </div>

        <!--
        Button "Speichern" erstellen
        -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"> Speichern </button>
        </div>
    </form>

</div>