<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TimeCheckerDatabase"
			 connectionString="Data Source=timechecker.database.windows.net;Initial Catalog=TimeChecker;User ID=Sport;Password=Fussball_9911;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>