@model TimeChecker.DAL.Models.Employee

@{

    ViewData["Title"] = "Employee";
}

<!--
   Formular um ein neuen Employee zu erstellen
-->
<div class="card">
    <div class="card-header">
        <h5>Create or Edit an Employee</h5>
    </div>

    <form asp-action="CreateEditEmployee" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col form-group">
                    <input hidden asp-for="Id" placeholder="Id" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="Prename" placeholder="Vorname" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <input asp-for="Lastname" placeholder="Nachname" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input asp-for="Fullname" placeholder="Fullname" class="form-control" />
                </div>
            </div>
        </div>

        <!--
        Button "Speichern" erstellen 
        -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"> Speichern </button>
        </div>
    </form>

</div>